.root {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.label {
  text-align: center;
  font-weight: 900;
  font-size: 38px;
  line-height: 1;
}

.description {
  margin: 0 auto;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 38px;
}
